@import "../../assets/variables";
@import "../../assets/mixins";

.section {
  padding: $section-padding $sidebar-padding;
  font-family: "Inter", sans-serif; /* Apply Inter font to section */

  header {
    display: flex;
    cursor: pointer;
    align-items: center;
    // color: var(--accent);
    color: white;
    font-size: 0.95rem;
    justify-content: space-between;
    &:focus {
      text-decoration: underline;
    }
  }
  header + * {
    margin-top: $section-padding;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  + section {
    border-top: 1px solid $color-light-15;
  }
}
